.footer {
   background-color: #1E1E1E;
   padding: 80px 0;

   .container {
      max-width: 635px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
   }

   button img {
      width: 32px;
      height: 39px;
   }

   &__phone {
      color: #FCFCFC;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 3.5px;
   }
}