.works {
   background-color: #000;
   padding: 50px 0 100px;

   .container {
      width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
   }

   &__hat {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-bottom: 60px;

      h2 {
         max-width: 270px;
      }

      p {
         max-width: 223px;
         color: #6F6F6F;
         border-left: 3px solid #DF1D63;
         padding: 3px 0 3px 25px;
      }
   }

   &__1 {
      background: url(../../../../static/images/work1.jpg) no-repeat top center / cover;
   }

   &__2 {
      background: url(../../../../static/images/work2.jpg) no-repeat top center / cover;
   }

   &__3 {
      background: url(../../../../static/images/work3.jpg) no-repeat top center / cover;
   }

   &__4 {
      background: url(../../../../static/images/work4.jpg) no-repeat top center / cover;
   }

   &__5 {
      background: url(../../../../static/images/work5.jpg) no-repeat top center / cover;
   }

   &__6 {
      background: url(../../../../static/images/work6.jpg) no-repeat top center / cover;
   }

   &__7 {
      background: url(../../../../static/images/work7.jpg) no-repeat top center / cover;
   }

   &__8 {
      background: url(../../../../static/images/work8.jpg) no-repeat top center / cover;
   }
}

.swiper {
   width: 1200px;
}

.swiper-slide {
   display: flex;
   justify-content: center;
}

.swiper-slide>div {
   width: 300px;
   height: 300px;
   border-radius: 50%;
   background-color: #DF1D63;
}

.swiper-button-prev {
   width: 50px;
   height: 50px;
   background: url(../../../../static/icons/arrowLeft.svg) #E91078 no-repeat center;
   border-radius: 50%;
   left: 0;

   &::after {
      display: none;
   }
}

.swiper-button-next {
   width: 50px;
   height: 50px;
   background: url(../../../../static/icons/arrowRight.svg) #E91078 no-repeat center;
   border-radius: 50%;
   right: 0;

   &::after {
      display: none;
   }
}

@media screen and (max-width: 1199px) {
   .works {
      .container {
         width: 100%;
         padding: 0 30px;
      }
   }

   .swiperContainer {
      padding: 0 30px;
   }

   .swiper {
      width: 100%;
   }
}

@media screen and (max-width: 767px) {
   .works {
      padding: 50px 0;

      .container {
         padding: 0 15px;
      }

      &__hat {
         flex-direction: column;
      }
   }

   .swiperContainer {
      padding: 0 15px;
   }
}