.main {
   background: url(../../../../static/images/cover.png) no-repeat center / cover;
   padding: 170px 0 75px 0;

   .container {
      max-width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
   }


   &__title {
      max-width: 670px;
   }

   &__text {
      max-width: 420px;
      font-size: 14px;
      line-height: 21px;
      padding: 30px 0;
   }

   &__btn {
      display: block;
      margin: 190px auto 0;

      img {
         width: 46px;
         height: 23px;
      }
   }
}

@media screen and (max-width: 1199px) {
   .main {
      .container {
         padding: 0 50px;
      }
   }
}

@media screen and (max-width: 767px) {
   .main {
      text-align: center;

      .container {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0 15px;
      }

      &__btn {
         margin: 100px auto 0;
      }
   }
}